.connectwallet-container {
    text-align: center;
}

.connectwallet-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
button {
    font-size: 30px;
    padding: 16px;
    border-radius: 16px;
    background-color: #07bc0c;
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: white;
    color: #07bc0c;
}
.connectwallet-header button img {
    width: 37px;
    height: 37px;
    padding-right: 5px;
}
